.output-base {
  width: 100%;
  min-height: 28vh;
  padding: 12px;

  border-radius: 12px;
  border: 1px solid transparent;

  background-color: transparent;
  resize: none;
  overflow: hidden;

  font-size: 18px;
  box-sizing: border-box;
}

.output-base:focus {
  outline: none;
  border: transparent;
}