.select-base {
  border: none;
  background-color: #212936CC;
  font-size: 16px;
  cursor: pointer;
  height: 40px;
}

.langOption {
  background-color: #212936CC;
  border: 1px solid #4D5562;
  cursor: pointer;
}