.btnTranslate-true,
.btnTranslate-false {
  border: none;
  background: transparent;
  font-size: 14px;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.2s ease;
  color: #94a3b8;
}

.btnTranslate-true {
  color: white;
  border-bottom: 2px solid white;
}

.btnTranslate-false:hover {
  background: #0f172a;
  color: white;
}